<h1 class="title serach_title">Login</h1>
<div class="user_container">
  <%= form_for :session, url: login_path, class: "sign_login_form" do |f| %>

    <p class="flabel">
      <%= f.label :username, class: "form-label" %>
    </p>

    <%= f.text_field :username, required: true, class: "sign_log_field" %>

    <p class="flabel">
      <%= f.label :password, class: "form-label" %>
    </p>
    <%= f.password_field :password, required: true, class: "sign_log_field mb-3" %>



    <%= f.submit "Login", class: "btn btn-primary" %>

  <% end %>
</div>