<nav>
  <div class="nav_container">
    <div class="logo_side">
      <div class="logo_box">
        <%= link_to root_path do %>
          <%= image_tag "h.png", alt: "Logo", class: "logo" %>
        <% end %>
      </div>
      <div class="white_space"></div>
    </div>
    <div class="element_side">
      <div class="element_box">
        <%= link_to "Hostels", hostels_path, class: "nav_links" %>
<!--        <span>About US</span>-->
<!--        <span>Contact Us</span>-->
        <% if !logged_in? %>

          <a href="/login" class="btn">

            <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i>
            <span>  Login</span>
          </a>

          <a href="/signup" class="btn">
            <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
            Signup
          </a>
        <% else %>


          <%= link_to user_path(session[:id]), class: "btn", id: "longbtn" do %>
            <i class="fa-solid fa-user" style="color: #ffffff;"></i> My profile
          <% end %>

          <% if isAdmin? %>
            <%= link_to upload_path, class: "btn" do %>
              <i class="fa-solid fa-plus" style="color: #ffffff;"></i> Upload
            <% end %>
          <% end %>

          <%= link_to logout_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" }, class: "btn redbtn" do %>
            <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i> Logout
          <% end %>


        <% end %>
      </div>
    </div>
  </div>
</nav>